fastapi==0.131.0
fastapi-cli==0.0.23
uvicorn==0.41.0
uvicorn[standard]==0.41.0
python-multipart==0.0.22
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic-extra-types==2.11.0
pillow==12.1.1
numpy==2.4.2
fastai==2.8.7
torch==2.10.0
torchvision==0.25.0
fastcore==1.12.16
IPython==9.10.0
